.blog-lists-layout {
  /* Sketch */
  width: 100%;
  grid-column: 3/5;
  grid-row: 2/4;
  overflow: scroll;
  margin: 20px;
}
.blog-lists-layout-header {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-blend-mode: overlay;
  object-fit: cover;
  object-position: center;
  background-color: rgb(40, 34, 34);
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

.blog-list-content-details {
}
/* Blog individual list */
