.header {
  width: 100vw;
  height: 7rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-bottom: 1px solid white;
}
.homePage-logo {
  width: 10rem;
}
.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.homePage-logo {
  width: 5rem;
}
.title {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.title:hover {
  color: red;
  transform: rotateX(20deg);
}
/* Left Lists */
.nav-lists {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}
.nav-list:first-child {
  margin-left: 2rem;
}
.nav-list {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2rem;
  transition: all 0.3s ease-in-out;
}
.nav-list:hover {
  color: palevioletred;
}
