.blog-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}
.blog-layout-container {
  width: 95%;
  height: 95%;
  border: 5px solid white;
  color: white;
  display: grid;
  grid-template-columns: 15rem 2.5fr 1fr 1fr;
  grid-template-rows: 6rem 1fr 1fr 4rem;
}
/* Blog Main */

/* Footer Section */
.blog-footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  height: 2rem;
  white-space: 10px;
  background: green;
  grid-column: 1/-1;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.news-content {
  padding: 0rem 0.5rem;
}
